---
interface Props {
  metadata: Metadata;
}

const { metadata } = Astro.props;
---

<div class="mt-16">
  <div class="relative">
    <h1 class="font-black text-center text-4xl">
      {metadata.name}
    </h1>
    <div class="mt-4">
      <div
        class="grid grid-cols-2 grid-rows-2 gap-x-8 font-semibold w-fit mx-auto"
      >
        <span class="w-fit">
          <i class="ti ti-phone"></i> 电话：{metadata.phone}
        </span>
        <span class="w-fit">
          <i class="ti ti-mail"></i> 邮箱：<a
            href={"mailto:" + metadata.email}
            class="link">{metadata.email}</a
          >
        </span>
        <span class="w-fit">
          <i class="ti ti-news"></i> 博客：<a
            href={"https://" + metadata.blog}
            class="link">{metadata.blog}</a
          >
        </span>
        <span class="w-fit">
          <i class="ti ti-brand-github"></i> GitHub：<a
            href={"https://github.com/" + metadata.github}
            class="link">{metadata.github}</a
          >
        </span>
      </div>
    </div>
    {
      metadata.photo !== "none" && (
        <img
          src={metadata.photo}
          alt="My Photo"
          class="w-24 absolute right-0 bottom-0"
        />
      )
    }
  </div>
</div>
