---
import Techs from "./Techs.astro";

interface Props {
  internship: Internship;
}

const { internship } = Astro.props;
---

<div class="mt-1">
  <div class="flex items-baseline">
    <span class="font-bold text-lg font-ding mr-4">{internship.name}</span>
    <span class="font-ding">{internship.department}</span>
    <span class="flex-1"></span>
    <span class="date">{internship.date}</span>
  </div>
  <span class="flex flex-wrap items-baseline">
    <div class="mr-4">{internship.job}</div>
    {internship.techs && <Techs techs={internship.techs} />}
  </span>
  <ul>
    {
      internship.items &&
        internship.items.map((item) => <li>{<Fragment set:html={item} />}</li>)
    }
  </ul>
</div>
