---
import Techs from "./Techs.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="mt-1">
  <div class="flex flex-wrap items-baseline w-full">
    <span class="font-bold mr-4 text-lg font-ding">{project.title}</span>
    <span class="text-sm font-light text-gray-500">{project.desc}</span>
    <span class="flex-1"></span>
    <span class="date">{project.date}</span>
  </div>

  <div class="flex flex-wrap items-baseline">
    <div class="mr-4">{project.job}</div>
    {project.techs && <Techs techs={project.techs} />}
  </div>

  <ul>
    {
      project.items &&
        project.items.map((item) => <li>{<Fragment set:html={item} />}</li>)
    }
  </ul>
</div>
