---
interface Props {
  obj: ProjectObject;
}

const { obj } = Astro.props;
---

<div>
  <span class="font-bold mr-4 w-1/3 inline-block">{obj.title}</span>
  <span class="font-bold mr-4 inline-block">{obj.type}</span>
  <span class="font-kai inline-block">{obj.job}</span>
  <span class="date">{obj.date}</span>

  <p class="italic font-serif text-sm">{obj.tech}</p>
  <p class="font-kai">{obj.desc}</p>
  <ul>
    {
      obj.items &&
        obj.items.map((item) => <li>{<Fragment set:html={item} />}</li>)
    }
  </ul>
</div>

<style>
  div {
    @apply my-2;
  }
</style>
