---
import Icon from "./Icon.astro";
import Items from "./Items.astro";
import Techs from "./Techs.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<div class="mt-1">
  <div class="flex flex-wrap items-baseline w-full">
    <span class="font-bold mr-4 text-lg font-ding">{project.title}</span>
    {project.subtitle && <span class="font-ding">{project.subtitle}</span>}
    {
      project.desc && (
        <span class="text-sm font-light text-gray-500">{project.desc}</span>
      )
    }
    <span class="flex-1"></span>
    {project.date && <span class="date">{project.date}</span>}
  </div>
  {
    (project.caption || project.techs) && (
      <div class="flex flex-wrap items-baseline">
        {project.icon && (
          <div class="mr-1">
            <Icon name={project.icon} size="1.2rem" class="block" />
          </div>
        )}
        {project.caption && <div class="mr-4">{project.caption}</div>}
        {project.techs && <Techs techs={project.techs} />}
      </div>
    )
  }
  {
    project.items && (
      <div>
        <Items items={project.items} />
      </div>
    )
  }
</div>
