---
interface Props {
  slug: string;
  lang: string;
}

const { slug, lang } = Astro.props;

import yml from "./config.yml";

const objs = yml.objects.projects;
const obj: Project = objs.find((o: Project) => o.slug == slug);

if (!obj) {
  console.log("ERROR: Project " + slug + " not found.");
}
---

<div class="mt-1">
  <span class="font-bold mr-4 w-1/3 inline-block">{obj.title}</span><span
    class="font-bold mr-4 inline-block">{obj.type}</span
  >{obj.job && <span class="font-kai inline-block">{obj.job}</span>}
  <span class="date">{obj.date}</span>

  <p class="font-kai">{obj.desc}</p>
  <p class={lang == "zh" ? "-mt-1" : ""}>
    <span class="font-kai">{lang == "zh" ? "技术栈：" : "Tech Stack: "}</span
    ><span class="italic font-serif text-sm">{obj.tech}</span>
  </p>

  <ul>
    {
      obj.items &&
        obj.items.map((item) => <li>{<Fragment set:html={item} />}</li>)
    }
  </ul>
</div>
