---
interface Props {
  title: string;
  type: string;
  job?: string;
  date?: string;
  desc: string;
  tech: string;
  items?: string[];
}

const {
  title,
  type,
  job = "",
  date = "",
  desc,
  tech,
  items = [],
} = Astro.props;
---

<div>
  <span class="font-bold mr-4 w-1/3 inline-block">{title}</span>
  <span class="font-bold mr-4 inline-block">{type}</span>
  <span class="font-kai inline-block">{job}</span>
  <span class="date">{date}</span>

  <p class="italic text-sm">{tech}</p>
  <p class="font-kai">{desc}</p>
  <ul>
    {items.map((item) => <li>{<Fragment set:html={item} />}</li>)}
  </ul>
</div>

<style>
  div {
    @apply my-2;
  }
</style>
