---
interface Props {
  project: Project;
  lang: string;
}

const { project, lang } = Astro.props;
---

<div class="mt-2">
  <span class="font-bold mr-4 w-1/3 inline-block">{project.title}</span><span
    class="font-semibold mr-4 inline-block"
  >
    <Fragment set:html={project.type} /></span
  >{
    project.job && (
      <span class="font-kai inline-block">
        <Fragment set:html={project.job} />
      </span>
    )
  }
  <span class="date">{project.date}</span>

  <p class="font-kai">
    <Fragment set:html={project.desc} />
  </p>

  <ul>
    {
      project.items &&
        project.items.map((item) => <li>{<Fragment set:html={item} />}</li>)
    }
  </ul>
</div>
