---
import Bullet from "./Bullet.astro";

interface Props {
  school: School;
}

const { school } = Astro.props;
---

<div class="mt-1">
  <div class="flex items-baseline">
    <span class="font-bold text-lg font-ding mr-4">{school.name}</span>
    <span class="font-ding">{school.college}</span>
    <span class="flex-1"></span>
    <span class="date">{school.date}</span>
  </div>
  <span class="mr-4">{school.major}</span><span>{school.degree}</span>
  {
    school.items && (
      <ul>
        {school.items.map((bullet) => (
          <Bullet bullet={bullet} />
        ))}
      </ul>
    )
  }
</div>
