---
interface Props {
  school: School;
  lang: "zh" | "en";
}

const { school, lang } = Astro.props;
---

<div class="mt-1">
  <span class="font-bold mr-4">{school.name}</span>{
    school.college && <span class="mr-4">{school.college}</span>
  }<span class="mr-4">{school.major}</span><span class="font-kai"
    >{school.degree}</span
  ><span class="date">{school.date}</span>
  <ul>
    <li>
      <span class="font-semibold"
        >{lang === "zh" ? "主修课程：" : "Major Courses: "}</span
      ><span class="font-kai">{school.majorCourses}</span>
    </li>
    <li>
      <span class="font-semibold">{lang === "zh" ? "学业成绩：" : "GPA: "}</span
      ><span class="font-kai">{school.score}</span>
    </li>
  </ul>
</div>
