---
interface Props {
  obj: Section;
  lang: string;
}

const { obj, lang } = Astro.props;

import School from "./School.astro";
import Project from "./Project.astro";
import Item from "./Item.astro";
import Bullet from "./Bullet.astro";
---

<div class="my-4">
  <h2 class="font-bold text-2xl uppercase">{obj.title}</h2>
  <hr class="" />
  {
    obj.schools &&
      obj.schools.map((school) => <School slug={school} lang={lang} />)
  }
  {
    obj.projects &&
      obj.projects.map((project) => <Project slug={project} lang={lang} />)
  }
  {obj.items && obj.items.map((item) => <Item slug={item} />)}
  {
    obj.bullets && (
      <ul class="mt-1">
        {obj.bullets.map((bullet) => (
          <Bullet slug={bullet} />
        ))}
      </ul>
    )
  }
</div>
