---
interface Props {
  section: Section;
  lang: "zh" | "en";
}

const { section, lang } = Astro.props;

import School from "./School.astro";
import Project from "./Project.astro";
import Item from "./Item.astro";
import Bullet from "./Bullet.astro";
---

<div class="my-4">
  <h2 class="font-extrabold text-2xl uppercase">{section.title}</h2>
  <hr />
  {
    section.schools &&
      section.schools.map((school) => <School school={school} lang={lang} />)
  }
  {
    section.projects &&
      section.projects.map((project) => (
        <Project project={project} lang={lang} />
      ))
  }
  {section.items && section.items.map((item) => <Item item={item} />)}
  {
    section.bullets && (
      <ul class="mt-1">
        {section.bullets.map((bullet) => (
          <Bullet bullet={bullet} />
        ))}
      </ul>
    )
  }
</div>
